<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<div id="app">
	<div class="row" id="row1" style="margin-top: 10px;" v-for="item in items">
		<div class="col-sm-6 col-sm-push-1">
			<select multiple>
				<option v-for="dataoption in dataoptions" v-bind:value="dataoption.lat">
				{{ dataoption.name}}
			</option>
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-6 col-sm-push-1">
  			<button @click="addItem" class="btn btn-danger">add more</button>
  		</div>
  	</div>
</div>

<script>
new Vue({
  el: '#app',
	data: {
	    message: 'null',
	    dataoptions: 'null',
	    selected:'-7.792662',
	    items: [],
	},
	  methods: {
	    addItem() {
	      this.items.push({
	        value: ''
	      });
	    }
	  },
		mounted () {
	  	this.addItem();
	    axios
	      .get('http://test666999.herokuapp.com/all')
	      .then(response => (this.dataoptions = response.data));
	  }
})
</script>